<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Fragements</title>
</head>
<body>
<div class="row" th:fragment="defaultview">
  <form action="/dashboard" th:action="@{/dashboard}" method="get" th:object="${dashboardController}">
    <input type="checkbox" checked name="neueshaushaltsbuch" style="visibility: hidden"/>
    <button id="neueshaushaltsbuch" type="submit" class="btn btn-primary btn-lg" title="Neues Haushaltsbuch anlegen"><i class="fas fa-book"></i></button>
  </form>
</div>

<div class="row" th:fragment="haushaltsbuch">
  <form action="/haushaltsbuch" th:action="@{/haushaltsbuch}" method="post" th:object="${haushaltsbuch}">
    <h3>Neues Haushaltsbuch anlegen</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
      </div>
      <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" title="Neues Haushaltsbuch anlegen">Anlegen</button>
  </form>
</div>
</body>
</html>