<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Fragements</title>
</head>
<body>
<div class="row" th:fragment="defaultview" id="buchaktionen">
  <div class="col-md-9 center">
  <form action="/dashboard" th:action="@{/dashboard}" method="get" th:object="${dashboardController}">
    <input type="checkbox" checked name="neueshaushaltsbuch" style="visibility: hidden"/>
    <button id="neueshaushaltsbuch" type="submit" class="btn btn-primary btn-lg" title="Neues Haushaltsbuch anlegen"><i class="fas fa-book"></i></button>
  </form>
  </div>
</div>

<div class="row" th:fragment="haushaltsbuch">
  <div class="col-md-9 center">
  <form action="/haushaltsbuch" th:action="@{/haushaltsbuch}" method="post">
    <h3>Neues Haushaltsbuch anlegen</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
      </div>
      <input type="text" class="form-control" aria-label="name" name="name">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" title="Neues Haushaltsbuch anlegen">Anlegen</button>
  </form>
  </div>
</div>

<div class="row" th:fragment="haushaltsbuecher">
  <div class="col-md-9 center">
  <div><h3>Deine Haushaltsbücher</h3></div>
  <div>
  <table class="table">
    <thead>
    <tr>
      <th>NUMMER</th>
      <th>NAME</th>
      <th>ERSTELLT AM</th>
      <th>Aktion</th>
    </tr>
    </thead>
    <tr th:each="buch : ${haushaltsbuecher}">
      <td th:text="${buch.id}"></td>
      <td th:text="${buch.name}"></td>
      <td th:text="${buch.erstellDatum}"></td>
      <td><a href="/haushaltsbuch" th:href="@{/haushaltsbuch(buchid=${buch.id})}"><i class="fas fa-edit"></i></a></td>
    </tr>
  </table>
  </div>
  </div>
</div>
</body>
</html>