.parallax {
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerimage {

  background-image: url("../images/add_user_icon.png");
  background-size: 200px 220px;
  height: 220px;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.error {
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
}

@media screen and (max-width: 768px) {
  #gluecksschwein ~ img, #gluecksschwein ~ source {
    max-height: 100px;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1rem !important;
  }
}


@media screen and (max-width: 1480px) {
  #gluecksschwein img, #gluecksschwein source {
    max-height: 200px;
  }

  h1 {
    font-size: 2em !important;
  }
}
@media screen and (min-width: 1480px) {
  #gluecksschwein img, #gluecksschwein source {
    max-height: 400px;
  }
  h1 {
    font-size: 1.3em !important;
  }
}

#gluecksschwein img, #gluecksschwein source {
  display: block;
  margin: auto;
}

#gluecksschweinsmall {
  max-height: 200px;
}

#neueshaushaltsbuch {
  font-size: 9em;
  height: 300px;
  width: 300px;
  background-color: #efcea4;
  border-color: #efcea4;
}

#buchaktionen{
  margin-bottom: 3em;
  margin-top: 3em;

}

.centercontent {
  margin: auto;
  width: 50%;
  padding: 10px;
}

#pageSizeSelect{
  float: right;
  display: inline;
  width: auto;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.row {
  margin-bottom: 30px;
}

#content {
  min-height: 600px;
  text-shadow: 5px 3px 9px white;
}

.container, .container-fluid {
  background-repeat: no-repeat;
  background-position: center;
}

#monthdropdown {
  margin: auto;
  width: 50%;
}

#zahlungsTable_filter {
  float:right;
}

#anmeldung_error_box {
  position: absolute;
  top: 0px;
  right: 35%;
}

#anmeldung__form{
  position: static;
}

#anmeldung_container {
  position: relative;
}