<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<head>
  <title>Haushaltsbuch Anmeldung</title>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta description="Anmeldung am System Haushaltsdatenbank">

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" href="../../css/haushaltsbuch.css" rel="stylesheet" />
  <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<section class="container-fluid" id="anmeldung_container">
  <div class="row">
    <div class="col-6 col-sm-12 col-lg-3 center">
      <picture id="gluecksschwein">
        <source srcset="/images/sparschwein.webp" />
        <img th:src="@{/images/sparschwein.png}" alt="Bild eines Sparschweins" />
      </picture>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-12 col-lg-3 center">
      <h3>Anmeldung am Haushaltsbuch.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-12 col-lg-3 center" id="anmeldung__form">
            <form action="/anmeldung" method="post">
              <div class="form-group">
                <label for="benutzername">Benutzername</label>
                <input class="form-control" type="text" id="benutzername" name="username" required placeholder="Dein Benutzername ..."/>
              </div>
              <div class="form-group">
                <label for="password">Passwort</label>
                <input class="form-control" type="password" id="password" name="password" required placeholder="Dein Passwort ..."/>
              </div>
              <button type="submit" class="btn btn-primary">Anmeldung</button>
            </form>
        <div style="float: right;">
          <span> Für die Nutzung <a title="Zur Produkt Registrierung" href="/registrierung">registrieren</a>. </span>
        </div>
        <div th:if="${param.error != null}" class="alert alert-danger" role="alert" id="anmeldung_error_box">
          <p>Anmeldung fehlgeschlagen:<span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span></p>
        </div>
      </div>
    </div>
  </section>
</div>
<script async defer th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script async defer th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>