<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Haushaltsbuch Anmeldung</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" href="../../css/haushaltsbuch.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 center">
      <img id="gluecksschwein" th:src="@{/images/sparschwein.png}" alt="Sparschwein">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 center">
            <form action="/anmeldung" method="post">
              <div class="form-group">
                <label for="benutzername">Benutzername</label>
                <input class="form-control" type="text" id="benutzername" name="username"/>
              </div>
              <div class="form-group">
                <label for="password">Passwort</label>
                <input class="form-control" type="password" id="password" name="password"/>
              </div>
              <button type="submit" class="btn btn-primary">Anmeldung</button>

            </form>
        <div style="float: right;">
          <span> Für die Nutzung <a title="Zur Produkt Registrierung" href="/registrierung">registrieren</a>. </span>
        </div>
        <div th:if="${param.error != null}" class="alert alert-danger" role="alert">
          <p>Anmeldung fehlgeschlagen:<span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span></p>
        </div>

      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>