<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Fragements</title>
</head>
<body>
<div class="row" th:fragment="defaultview" id="buchaktionen">
  <div th:replace="/navigation::subnavigation  "></div>
  <div class="col-md-9">
  <form action="/dashboard" th:action="@{/dashboard}" method="get" th:object="${dashboardController}">
    <input type="checkbox" checked name="neueshaushaltsbuch" style="visibility: hidden"/>
    <button id="neueshaushaltsbuch" type="submit" class="btn btn-primary btn-lg" title="Neues Haushaltsbuch anlegen"><i class="fas fa-book"></i></button>
  </form>
  </div>
</div>

  <form action="/buecher" th:action="@{/buecher}" method="post" th:fragment="haushaltsbuch">
    <h3>Neues Haushaltsbuch anlegen</h3>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
      </div>
      <input type="text" class="form-control" aria-label="name" name="name">
    </div>
    <button type="submit" class="btn btn-primary btn-lg" title="Neues Haushaltsbuch anlegen">Anlegen</button>
  </form>


  <div th:fragment="haushaltsbuecher">
  <div><h3>Deine Haushaltsbücher</h3></div>
  <div>
    <div class="alert alert-danger" role="alert" th:if="${errorloeschenbuch}">
      Haushaltsbuch löschen fehlgeschlagen: <span th:text="${errorloeschenbuch}"></span>
    </div>
  <table class="table">
    <thead>
    <tr>
      <th>NUMMER</th>
      <th>NAME</th>
      <th>ERSTELLT AM</th>
      <th>GEÄNDERT AM</th>
      <th>Aktion</th>
    </tr>
    </thead>
    <tr th:each="buch : ${haushaltsbuecher}">
      <td th:text="${buch.id}"></td>
      <td th:text="${buch.name}"></td>
      <td th:text="${buch.erstellDatum}"></td>
      <td th:text="${buch.aenderungsdatum}"></td>
      <td>
          <a title="Haushaltsbuch öffnen" href="/haushaltsbuch" th:href="@{/haushaltsbuch(buchid=${buch.id},pageSize=1000)}"><i class="fas fa-edit"></i></a>
          <a title="Haushalstbuch Berichte anzeigen" href="/haushaltsbericht" th:href="@{/haushaltsbericht(buchid=${buch.id})}"><i class="fas fa-calculator"></i></a>
          <a title="Haushaltsbuch löschen" href="/haushaltsbuch" th:href="@{'/haushaltsbuch/'+${buch.id}+'/loeschen'}"><i class="fas fa-trash"></i></a>
      </td>
    </tr>
  </table>
  </div>
  </div>


  <div th:fragment="kategorien">
    <div><h3>Deine Kategorien</h3></div>
    <div>
      <div class="table-wrapper-scroll-y">
      <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th>NAME</th>
        </tr>
        </thead>
        <tr th:each="kategorie : ${kategorien}">
          <td th:text="${kategorie.name}"></td>
        </tr>
      </table>
    </div>
  </div>
 </div>

  <div th:fragment="footer" style="background-color: #007bff;min-height: 50px;color: white;padding: 0.5em;" class="row">
  <div class="col-md-12">
    <hr style="background-color: white;">
    <span style="font-size: 0.8em">@Copyright: Konrad.Eichstaedt@gmx.de</span>
  </div>
</div>
</body>
</html>