<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Haushaltsbuch Dashboard</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta description="Dashboard der Haushaltsdatenbank, Eine erste Übersicht über die wichtigesten Daten. ">

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" href="../../css/haushaltsbuch.css" rel="stylesheet" />
  <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.jqplot.min.css}" />
</head>
<body>
  <section class="container-fluid">
    <div th:replace="/navigation::navigation  "></div>

    <div class="row">

      <div class="col-9 col-sm-12 col-lg-9 center" id="content">

        <div id="dashboard_headline">
          <p th:text="'Dashboard von'" class="dashboard__headline"></p>
        <picture>
          <source class="dashboard__avatar" srcset="/images/avatar.svg" type="image/svg+xml">
          <img class="dashboard__avatar" src="/images/avatar.svg" alt="running rabbits" />
        </picture>
        <p th:text="${user.getUsername()}" class="dashboard__headline"></p>
        </div>

        <h3 th:if="${selectedHaushaltsbuch == null}" th:text="'Es gibt noch kein Haushaltsbuch im System.'"></h3><a th:if="${selectedHaushaltsbuch == null}" th:text="'Neues Haushaltsbuch anlegen'" th:href="@{/buecher(active='Neues Buch erstellen')}"></a>

        <div th:if="${selectedHaushaltsbuch }" id="kategorienbericht" style="height: 800px;width: 800px;">
        </div>

        <div th:if="${selectedHaushaltsbuch }" class="dropdown" id="monthdropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span th:text="${monate.get(aktiverMonat)}"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a th:each="monat : ${monate.entrySet()}" class="dropdown-item" th:href="@{dashboard(monat=${monat.key})}" th:text="${monat.value}"></a>
          </div>
        </div>
      </div>

    </div>

    <div th:replace="/base::footer"></div>
    </section>

  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>

  <script type="text/javascript" th:src="@{/js/jquery.jqplot.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.barRenderer.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.pieRenderer.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.categoryAxisRenderer.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.pointLabels.js}"></script>


  <script th:inline="javascript">
    /*<![CDATA[*/


    $(document).ready(function(){
      var kategorie = /*[[${kategorien}]]*/;

      var total = 0;
      $(kategorie).map(function(){total += this[1];})

      myLabels = $.makeArray($(kategorie).map(function(){return this[1] + " " + Math.round(this[1]/total * 100) + "%";}));


      var plot8 = $.jqplot('kategorienbericht', [kategorie], {
        title: {text:/*[[${kategorientitel}]]*/},
        grid: {
          drawBorder: false,
          drawGridlines: false,
          background:"transparent",
          shadow:false
        },
        axesDefaults: {

        },
        seriesDefaults:{
          renderer:$.jqplot.PieRenderer,
          rendererOptions: {
            showDataLabels: true,
            diameter:450,
            dataLabels: myLabels
          }
        },
        legend: {
          show: true,
          rendererOptions: {
            numberRows: 3
          },
          location: 's'
        }
      });
    });


    /*]]>*/
  </script>
</body>
</html>