<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Haushaltsbuch Dashboard</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" href="../../css/haushaltsbuch.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div th:replace="/navigation::navigation  "></div>
    <div class="row">
      <div th:replace="/navigation::subnavigation  "></div>
      <div class="col-md-9" id="content">

        <h3 style="margin-bottom: 3em;" th:text="'Willkommen ' + ${user.getUsername()} + ' in der Verwaltung deiner Haushaltsausgaben und Einnahmen.'"></h3>

        <h3 th:if="${selectedHaushaltsbuch == null}" th:text="'Es gibt noch kein Haushaltsbuch im System.'"></h3><a th:if="${selectedHaushaltsbuch == null}" th:text="'Neues Haushaltsbuch anlegen'" th:href="@{/buecher(active='Neues Buch erstellen')}"></a>

        <article th:if="${selectedHaushaltsbuch}" th:text="'Das zuletzt von Dir bearbeitete Haushaltsbuch ist: ' + ${selectedHaushaltsbuch.getName()}"></article>

        <div id="kategorienbericht" style="height: 600px;width: 600px;margin-left: 0px;">
        </div>
      </div>
    </div>
    <div th:replace="/base::footer"></div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script type="text/javascript" th:src="@{/js/jquery.jqplot.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.barRenderer.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.pieRenderer.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.categoryAxisRenderer.js}"></script>
  <script type="text/javascript" th:src="@{/js/jqplot.pointLabels.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.jqplot.min.css}" />

  <script th:inline="javascript">
    /*<![CDATA[*/


    $(document).ready(function(){
      var kategorie = /*[[${kategorien}]]*/;

      var total = 0;
      $(kategorie).map(function(){total += this[1];})

      myLabels = $.makeArray($(kategorie).map(function(){return this[1] + " " + Math.round(this[1]/total * 100) + "%";}));


      var plot8 = $.jqplot('kategorienbericht', [kategorie], {
        title: {text:/*[[${kategorientitel}]]*/},
        grid: {
          drawBorder: false,
          drawGridlines: false,
          background:"transparent",
          shadow:false
        },
        axesDefaults: {

        },
        seriesDefaults:{
          renderer:$.jqplot.PieRenderer,
          rendererOptions: {
            showDataLabels: true,
            diameter:450,
            dataLabels: myLabels
          }
        },
        legend: {
          show: true,
          rendererOptions: {
            numberRows: 1
          },
          location: 's'
        }
      });
    });


    /*]]>*/
  </script>
</body>
</html>