<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Haushaltsbuch Jahresberichte</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" href="../../css/haushaltsbuch.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</head>
<body>
  <div class="container">
    <div th:replace="/navigation::navigation  "></div>
     <div class="row">
       <div th:replace="/navigation::subnavigation  "></div>

       <div th:if="${buch == null}" class="col-md-9 center" id="content">
         <h3>Berichte können nur für aktive Haushaltsbücher dargestellt werden.</h3>
       </div>

       <div th:if="${buch}" class="col-md-9 center" id="content">
          <a href="/haushaltsbericht" th:href="@{/haushaltsbuch(buchid=${buch.id})}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-book"></i></a>


           <div id="jahresbericht"></div>

          <div id="kategorienbericht" style="height: 600px;width: 600px;margin-left: 0px;"></div>
       </div>
     </div>
    <div th:replace="/base::footer"></div>
  </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" th:src="@{/js/jquery.jqplot.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.barRenderer.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.pieRenderer.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.categoryAxisRenderer.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.pointLabels.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.jqplot.min.css}" />

<script th:if="${buch}" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function(){
    $.jqplot.config.enablePlugins = true;
    var ausgaben = /*[[${ausgaben}]]*/;
    var einnahmen = /*[[${einnahmen}]]*/;
    var ticks = ['Januar', 'Februar', 'März', 'April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'];

    plot1 = $.jqplot('jahresbericht', [ausgaben,einnahmen], {
      // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
      title: {text:/*[[${titel}]]*/},
      animate: !$.jqplot.use_excanvas,
      seriesDefaults:{
        renderer:$.jqplot.BarRenderer,
        pointLabels: { show: true }
      },
      axes: {
        xaxis: {
          renderer: $.jqplot.CategoryAxisRenderer,
          ticks: ticks
        }
      },
      highlighter: { show: false }
    });

    $('#chart1').bind('jqplotDataClick',
        function (ev, seriesIndex, pointIndex, data) {
          $('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
        }
    );



  });


  $(document).ready(function(){
    var kategorie = /*[[${kategorien}]]*/;

    var total = 0;
    $(kategorie).map(function(){total += this[1];})

    myLabels = $.makeArray($(kategorie).map(function(){return this[1] + " " + Math.round(this[1]/total * 100) + "%";}));


    var plot8 = $.jqplot('kategorienbericht', [kategorie], {
      title: {text:/*[[${kategorientitel}]]*/},
      grid: {
        drawBorder: false,
        drawGridlines: false,
        background: "transparent",
        shadow:false
      },
      axesDefaults: {

      },
      seriesDefaults:{
        renderer:$.jqplot.PieRenderer,
        rendererOptions: {
          showDataLabels: true,
          dataLabels: myLabels,
          diameter:null
        }
      },
      legend: {
        show: true,
        rendererOptions: {
          numberRows: 3
        },
        location: 's'
      }
    });
  });


  /*]]>*/
</script>

</body>
</html>