<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Haushaltsbuch Jahresberichte</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" href="../../css/haushaltsbuch.css" rel="stylesheet" />
  <link type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" rel="stylesheet" />
</head>
<body>
  <div class="container-fluid">
    <div th:replace="/navigation::navigation  "></div>
     <div class="row justify-content-md-center">
       <div th:replace="/navigation::subnavigation  "></div>

       <div th:if="${buch == null}" class="col-7 col-sm-10 col-lg-7" id="content">
         <h3>Berichte können nur für aktive Haushaltsbücher dargestellt werden.</h3>
       </div>

       <div th:if="${buch}" class="col-7 col-sm-10 col-lg-7" id="content">
          <a href="/haushaltsbericht" th:href="@{/haushaltsbuch(buchid=${buch.id},pageSize=1000)}" class="btn btn-primary btn-lg" role="button"><i class="fas fa-book"></i></a>


           <div id="jahresbericht"></div>

          <div id="kategorienbericht" style="height: 600px;width: 600px;margin-left: 0px;"></div>

         <div class="dropdown" id="monthdropdown">
           <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span th:text="${monate.get(aktiverMonat)}"></span>
           </button>
           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
             <a th:each="monat : ${monate.entrySet()}" class="dropdown-item" th:href="@{/haushaltsbericht(buchid=${buch.id},monat=${monat.key})}" th:text="${monat.value}"></a>
           </div>
         </div>
       </div>
     </div>
    <div th:replace="/base::footer"></div>
  </div>
  <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>

<script type="text/javascript" th:src="@{/js/jquery.jqplot.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.barRenderer.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.pieRenderer.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.categoryAxisRenderer.js}"></script>
<script type="text/javascript" th:src="@{/js/jqplot.pointLabels.js}"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/jquery.jqplot.min.css}" />

<script th:if="${buch}" th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function(){
    $.jqplot.config.enablePlugins = true;
    var ausgaben = /*[[${ausgaben}]]*/;
    var einnahmen = /*[[${einnahmen}]]*/;
    var ticks = ['Januar', 'Februar', 'März', 'April','Mai','Juni','Juli','August','September','Oktober','November','Dezember'];

    plot1 = $.jqplot('jahresbericht', [ausgaben,einnahmen], {
      // Only animate if we're not using excanvas (not in IE 7 or IE 8)..
      title: {text:/*[[${titel}]]*/},
      animate: !$.jqplot.use_excanvas,
      seriesDefaults:{
        renderer:$.jqplot.BarRenderer,
        pointLabels: { show: true }
      },
      axes: {
        xaxis: {
          renderer: $.jqplot.CategoryAxisRenderer,
          ticks: ticks
        }
      },
      highlighter: { show: false }
    });

    $('#chart1').bind('jqplotDataClick',
        function (ev, seriesIndex, pointIndex, data) {
          $('#info1').html('series: '+seriesIndex+', point: '+pointIndex+', data: '+data);
        }
    );



  });


  $(document).ready(function(){
    var kategorie = /*[[${kategorien}]]*/;

    var total = 0;
    $(kategorie).map(function(){total += this[1];})

    myLabels = $.makeArray($(kategorie).map(function(){return this[1] + " " + this[0];}));


    var plot8 = $.jqplot('kategorienbericht', [kategorie], {
      title: {text:/*[[${kategorientitel}]]*/},
      grid: {
        drawBorder: false,
        drawGridlines: false,
        background: "transparent",
        shadow:false
      },
      axesDefaults: {

      },
      seriesDefaults:{
        renderer:$.jqplot.PieRenderer,
        rendererOptions: {
          showDataLabels: true,
          dataLabels: myLabels,
          diameter:null
        }
      },
      legend: {
        show: true,
        rendererOptions: {
          numberRows: 3
        },
        location: 's'
      }
    });
  });


  /*]]>*/
</script>

</body>
</html>