<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Kategorien der Berichte</title>

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" href="../../css/haushaltsbuch.css" rel="stylesheet" />
  <link type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" rel="stylesheet" />
</head>
<body>

<div class="container-fluid">
  <div th:replace="/navigation::navigation  "></div>
  <div class="row justify-content-md-center">
    <div th:replace="/navigation::subnavigation  "></div>
    <div class="col-7 col-sm-10 col-lg-7" id="content">

      <div th:if="${kategorien == null}">
        <h3>Verwalte deine Kategorien</h3>
      </div>

      <div th:if="${subnav.activeItem == 'Alle Kategorien'}">
        <div th:replace="/base::kategorien"></div>
      </div>

      <div th:if="${subnav.activeItem == 'Neue Kategorie erstellen'}">
        <form action="/kategorien" th:action="@{/kategorien}" method="post">
          <h3>Neue Kategorie anlegen</h3>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
            </div>
            <input type="text" class="form-control" aria-label="name" name="name">
          </div>
          <button type="submit" class="btn btn-primary btn-lg" title="Neue Kategorie anlegen">Anlegen</button>
        </form>
      </div>

    </div>
  </div>
  <div th:replace="/base::footer"></div>
</div>
</div>

<script th:src="@{/webjars/jquery/3.4.1/jquery.slim.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>