<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="row" th:fragment="navigation" id="mainnavigation">
  <div class="col-md-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="#">
      <img th:src="@{/images/sparschwein.png}" alt="Glücksschwein" width="70" height="71" >
    </a>
    <ul class="navbar-nav mr-auto">
      <li th:class="${#httpServletRequest.requestURI == '/dashboard'}? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li th:class="${#httpServletRequest.requestURI == '/buecher'}? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="/buecher?active=Meine Bücher">Bücher</a>
      </li>
      <li th:class="${#httpServletRequest.requestURI == '/berichte'}? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="#">Berichte</a>
      </li>
      <li th:class="${#httpServletRequest.requestURI == '/kategorien'}? 'nav-item active' : 'nav-item'">
        <a class="nav-link" href="#">Kategorien</a>
      </li>
    </ul>
    <form th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">
      <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Abmelden</button>
    </form>
  </div>
</nav>
</div>
</div>

<div class="col-md-3" th:fragment="subnavigation">
    <h3 th:text="${subnav.title}">Subnavigation</h3>

  <nav class="nav flex-column">
    <a th:each="item : ${subnav.navItems}" class="nav-link active" th:href="@{/buecher?active=__${item}__}" th:text="${item}">Active</a>
  </nav>
</div>
</html>