<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Haushaltsbuch Registrierung</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link type="text/css" th:href="@{/css/haushaltsbuch.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" />
  <link type="text/css" th:href="@{/webjars/font-awesome/5.12.0/css/all.css}" rel="stylesheet" />
</head>
<body>
<header class="parallax">
  <div class="container">
    <div class="row">
      <div class="headerimage center"></div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-6 center">
      <div class="alert alert-danger" role="alert">
        Ihre Anmeldung war leider nicht erfolgreich. Bitten versuchen Sie es noch einmal.
      </div>
  </div>
  </div>
</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.bundle.min.js}"></script>
</body>
</html>